{{ define "user/login" }}
{{ template "_header" . }}
<form method="post">
    <input type="text" placeholder="email" name="email">
    <input type="password" placeholder="password" name="password">
    <button type="submit">giriş yap</button>
</form>
{{ template "_footer" }}
{{ end }}