{{ define "user/register" }}
{{ template "_header" . }}
<h1> Kullanıcı Kayıt </h1>
<br>
<form method="post">
    <input type="text" placeholder="username" name="username">
    <input type="text" placeholder="email" name="email">
    <input type="password" placeholder="password" name="password">
    <button type="submit">register</button>
</form>
{{ template "_footer" }}
{{ end }}